@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

$green-main: #179c4f;
$green-sub: #1c2621;
$green-sub2: #29382E;
$green-border: #3d5245;
$green-text: #9eb8a8;
$white-main: #ffffff;
$white-sub: #e5e8eb;
$black-bg: #121714;

$font-main: "Manrope";
