<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Email Verification</title>
 
</head>
<body>
  <h1>Email Verification</h1>
  <p id="status">Verified ✅</p>
  <a href="/">Go to Homepage</a>
</body>
</html>
