header {
  background-color: $black-bg;
  border-bottom: 1px solid $white-sub;

  padding: 12px 40px;

  .header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h5 {
      color: $white-main;
      font-family: $font-main;
      font-size: 18px;
      font-weight: 700;
    }
    .header-navigation {
      display: flex;
      align-items: center;
      gap: 36px;
      a {
        color: $white-main;
        font-family: $font-main;
        font-size: 14px;
        font-weight: 500;
      }
      img {
        height: 40px;
        border-radius: 50%;
      }
      @media screen and (max-width: 520px) {
        display: none;
      }
    }
  }
  .header-menu {
    display: none;
    position: relative;
    margin-right: 20px;
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      width: 30px;
      height: 20px;
      transition: all 0.3s ease;

      .header-menu-top-stick {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 30px;
        height: 2px;
        background-color: $white-main;
        transition: all 0.3s ease;
      }
      .header-menu-middle-stick {
        position: absolute;
        top: 9px;
        left: 0px;
        width: 30px;
        height: 2px;
        background-color: $white-main;
        transition: all 0.3s ease;
      }
      .header-menu-bottom-stick {
        position: absolute;
        top: 18px;
        left: 0px;
        width: 30px;
        height: 2px;
        background-color: $white-main;
        transition: all 0.3s ease;
      }

      // &:active {
      //   .header-menu-top-stick {
      //     background-color: $green-main;
      //     transform: scaleX(1.2);
      //     transform: rotate(45deg);
      //     top: 50%;
      //     height: 3px;
      //   }
      //   .header-menu-middle-stick {
      //     opacity: 0;
      //   }
      //   .header-menu-bottom-stick {
      //     background-color: $green-main;
      //     transform: scaleX(1.2);
      //     transform: rotate(-45deg);
      //     top: 50%;
      //     height: 3px;
      //   }
      // }
    }
    .header-menu-dropdown.active {
      display: flex;
    }
    .header-menu-dropdown {
      display: none;
      position: absolute;
      top: 150%;
      transform: translateX(-50%);
      left: 50%;
      background-color: $black-bg;
      border: 1px solid $white-sub;
      border-radius: 8px;
      padding: 16px;
     
      flex-direction: column;
      gap: 18px;

      a {
        color: $white-main;
        font-family: $font-main;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;

        &:hover {
          color: $green-main;
        }
      }
    }

    @media screen and (max-width: 520px) {
      display: block;
      position: relative;
    }
  }
}
